@font-face {
    font-family: 'infernosspicymedium';
    src: url('../fonts/infernosspicy-webfont.eot');
    src: url('../fonts/infernosspicy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/infernosspicy-webfont.woff') format('woff'),
         url('../fonts/infernosspicy-webfont.ttf') format('truetype'),
         url('../fonts/infernosspicy-webfont.svg#infernosspicymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html {

}

.main-wrapper {
	background: #EF6F55;
	width: 97%;
	min-height: 100%;
	margin: 5px auto 0;
	border-radius: 5px;
}

.header .pig-pic {
	width: 80px;
	display: block;
	float: left;
}

h1.logo-text {
	font-family: 'infernosspicymedium';
	font-size: 240%;
	float: right;
	font-weight: bold;
	line-height: 110px;
}

p.subline {
	font-family: 'infernosspicymedium';
	font-size: 130%;
	font-weight: bold;
	text-decoration: underline;
	font-style: italic;
	color: #952922;
	text-align: center;
}



form input[type=text] {
	width: 80%;
	display: block;
	margin: 30px auto 0;
}

form input[type=submit] {
	display: block;
	width: auto;
	margin: 10px auto 0;
	background-color: #B44137;
}

.add-list{
	font-family: 'infernosspicymedium';
}

.add-list li {
	border: 3px solid black;
	width: 80%;
	display: block;
	margin: 10px auto;
	border-radius: 10px;
	padding: 5px;
	font-size: 125%;
	font-weight: bold;
	background-color: #E78345;
}

.footer-text {
	font-family: 'infernosspicymedium';
	font-size: 120%;
	font-weight: bold;
	text-decoration: underline;
	font-style: italic;
	color: #952922;
	text-align: center;
	margin-top: 10px;
}