@font-face {
    font-family: 'infernosspicymedium';
    src: url('../fonts/infernosspicy-webfont.eot');
    src: url('../fonts/infernosspicy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/infernosspicy-webfont.woff') format('woff'),
         url('../fonts/infernosspicy-webfont.ttf') format('truetype'),
         url('../fonts/infernosspicy-webfont.svg#infernosspicymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html {

	background: #EF6F55;
}

.main-wrapper {
	width: 97%;
	margin: 5px auto 0;
	border-radius: 5px;
}

#pig-wrapper {
	position: relative;
}

header {
	position: relative;
}



.header .pig-pic {
	width: 110px;
	display: block;
	float: left;
}

.after-logo {
	display: none;
	width: 100px;
	height: 80px;
	position: absolute;
	left: 24px;
	top: 8px;
}

h1.logo-text {
	font-family: 'infernosspicymedium';
	font-size: 209%;
	float: right;
	font-weight: bold;
	line-height: 110px;
}

p.subline {
	font-family: 'infernosspicymedium';
	font-size: 140%;
	font-weight: bold;
	font-style: italic;
	color: #580000;
	text-align: center;
	background: #FC49ED;
	border-radius: 50%;
}



form input[type=text] {
	width: 90%;
	height: 30px;
	display: block;
	margin: 15px auto 0;
	font-size: 125%;
	font-family: 'infernosspicymedium';
	font-weight: bold;
}

form input[type=submit] {
	display: block;
	width: auto;
	margin: 10px auto 0;
	background-color: #FC49ED;
	font-family: 'infernosspicymedium';
	font-weight: bold;
	font-size: 135%;
}

.add-list{
	font-family: 'infernosspicymedium';
}

.add-list li {
	border: 3px solid black;
	width: 90%;
	display: block;
	margin: 5px auto;
	border-radius: 10px;
	padding: 5px;
	font-size: 125%;
	font-weight: bold;
	background: #E78345;
	text-decoration: none;
	
}

.strike {
	text-decoration: none;
}

.footer-text {
	font-family: 'infernosspicymedium';
	font-size: 120%;
	font-weight: bold;
	font-style: italic;
	color: #A6370F;
	text-align: center;
	
}

div.counter-wrapper {
	width: 90%;
	margin: 0 auto;

}

p.item-counter {
	width: 30%;
	float: left;
	font-family: cursive;
	font-style: italic;
	font-size: 100%;
	color: #000;
	border: 1px solid black;
	border-radius: 10px;
	padding: 3px;
	background-color: #FC49ED;

}

button.delete-all {
	margin-top: -1px;
	float: right;
	font-family: cursive;
	font-style: italic;
	font-size: 100%;
	color: #000;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #FC49ED;
	outline: none;
}

form input.email-submit {
	float: right;
	width: 28%;
	font-size: 95%;
	font-family: cursive;
	border-radius: 10px;
	outline: none;
}

form input.email-input {
	float: left;
	width: 70%;
	margin-top: 7px;
	font-family: cursive, serif, 'sans-serif';
	font-size: 100%;
}

#delete-icon {
	width: 30px;
	height: 23px;
	background: url('../images/delete.png') no-repeat right;
	background-size: 100% 100%;
	float: right;
	padding: 0;
	margin:0;
	border: 0;
}

#edit-icon {
	width: 30px;
	height: 23px;
	background: url('../images/pencil-icon.png') no-repeat right;
	background-size: 100% 100%;
	float: right;
	padding: 0;
	margin:0;
	margin-right: 10px;
	border: 0
}

#main-input {
	border: 1px solid #FC49ED;
	background-color: #FFC4B8;
	border-radius: 7px;
	color: #000;
}

#main-input:focus, .email-input:focus  {
	border-radius: 10px;
	border: 2px solid #71b4fc;
	outline: none;
}

.email-input {
	border: 1px solid #FC49ED;
	border-radius: 7px;
}

#edit {
	display: none;
	border: 3px solid black;
	width: 85%;
	float: left;
	border-radius: 10px;
	padding: 5px;
	font-size: 125%;
	font-weight: bold;
	background: #E78345;
	font-family: 'infernosspicymedium';
}

#edit:focus {
	outline: none;
}

#save-wrapper {
	display: none;
	border: 3px solid black;
	width: 90%;
	border-radius: 10px;
	margin: 5px auto;
	background: #E78345;
}

#save-wrapper input[type="text"] {
    border: none;
}

#save-wrapper input[type="submit"] {
   float: right;
    width: 30px;
	height: 23px;
	background: url('../images/save.png') no-repeat right;
	background-size: 100% 100%;
	float: right;
	padding: 0;
	margin-right: 10px;
	margin-top: 5px;
	border: 0
} 


/************PLACE HOLDER STYLING WITH WEBKITS***********/

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ada2a2;
    font-size: 80%;
    font-family: cursive, sans-serif;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    red;
    opacity:  1;
    font-size: 100%;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    red;
    opacity:  1;
    font-size: 100%;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    red;
    font-size: 100%;
}